.login-wrapper {
    /* Use !important to overload style */
    background-image: url('/assets/images/login.jpg') !important;
    background-size: cover !important;
    background-position: center !important;

    .login {
        margin: auto;
    }
}
