.container
    h1 Profile

    .form
        section.form-block
            .form-group
                label(for='username') Username
                input#username([(ngModel)]='user.username', type='text', size='35')
            .form-group
                label(for='email') Email
                input#email([(ngModel)]='user.email', type='text', size='35')
            .form-group
                label(for='firstName') First name
                input#firstName([(ngModel)]='user.first_name', type='text', size='35')
            .form-group
                label(for='secondName') Second name
                input#secondName([(ngModel)]='user.last_name', type='text', size='35')

            button.btn.btn-info((click)='save(user)') Save
