.container
    .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .card
                .card-header Header
                .card-block
                    .card-text My three months of coding bootcamp at the Grace Hopper Program have come to a close, and the title of this article is actually not quite true — I’ve now built three full-stack apps: an e-commerce store from scratch, a personal hackathon project of our choice, and finally, a three-week capstone project. That capstone project was by far the most intensive— a three week journey with two teammates — and it is my proudest achievement from bootcamp. It is the first robust, complex app I have ever fully built and designed.
                .card-footer
                    span 9 hours ago
                    button.btn.btn-sm.btn-link.btn-author Phil9l

        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .card
                .card-header Header
                .card-block
                    .card-text As most developers know, even when you “know how to code”, it can be really overwhelming to embark on the creation of your first full-stack app. The JavaScript ecosystem is incredibly vast: with package managers, modules, build tools, transpilers, databases, libraries, and decisions to be made about all of them, it’s no wonder that so many budding coders never build anything beyond Codecademy tutorials. That’s why I want to walk you through a step-by-step guide of the decisions and steps my team took to create our live app, Align.
                .card-footer
                    span 12 hours ago
                    button.btn.btn-sm.btn-link.btn-author Misha

        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .card
                .card-header Header
                .card-block
                    .card-text The first step was to figure out what exactly we wanted to build. In my past life as a consultant at IBM, I led ideation workshops with corporate leaders. Pulling from that, I suggested to my group the classic post-it brainstorming strategy, in which we all scribble out as many ideas as we can — even ‘stupid ones’ — so that people’s brains keep moving and no one avoids voicing ideas out of fear.
                .card-footer
                    span 24 hours ago
                    button.btn.btn-sm.btn-link.btn-author Rusya
