clr-header.header.header-6
    .branding
        a(class='logo-and-title', routerLink='/', href='/clarity/')
            span(class='title')
                img.logo(src='/assets/images/logo.svg')

    .divider

    .header-nav([clr-nav-level]='1')
        a.nav-link(routerLink='/contests', routerLinkActive='active')
            span.nav-text Contests
        a.nav-link(routerLink='/about', routerLinkActive='active')
            span.nav-text About
        a.nav-link(routerLink='/faq' routerLinkActive='active')
            span.nav-text F.A.Q.

    .header-actions
        clr-dropdown(*ngIf='!authService.isLogged()')
            button(routerLink='/login', fragment="login", class='nav-text', clrDropdownTrigger) Log in
            button(routerLink='/login', fragment="register", class='nav-text', clrDropdownTrigger) Register

        ng-container(*ngIf='authService.isLogged()')
            clr-dropdown
                button.nav-text(clrDropdownTrigger) {{ user.username }}
                    clr-icon(shape='caret down')
                clr-dropdown-menu(clrPosition='bottom-right')
                    a(routerLink='/profile', clrDropdownItem) Profile
                    a((click)='logout()', clrDropdownItem) Log out
