doctype html

html(lang='en')

head
    meta(charset='utf-8')
    title SC2AI.NET
    base(href='/')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/x-icon', href='favicon.ico')

body.page
    app-root
