.container
    h1 Upcoming
    table.table.table-noborder
        thead
            tr
                th Round
                th Start time
        tbody
            tr
                td Round 1
                td Starts at 12:00
            tr
                td Round 2
                td Starts at 16:00
            tr
                td Round 3
                td Starts at 17:00
            tr
                td Round 4
                td Starts at 18:00

    h1 History
        table.table.table-noborder
            thead
                tr
                    th Round
                    th Start time
            tbody
                tr
                    td Round 1
                    td Starts at 12:00
                tr
                    td Round 2
                    td Starts at 16:00
                tr
                    td Round 3
                    td Starts at 17:00
                tr
                    td Round 4

                    td Starts at 18:00
