doctype html

.login-wrapper
    .login
        label.title
            h3.welcome Welcome to
            | SC2AI.NET!
            h5.hint Competitive platform for an AIs written in various programming languages that uses StarCraft 2 as their competitive environment.

        clr-tabs
            clr-tab
                button(clrTabLink) Login
                ng-template([(clrIfActive)]='loginActive')
                    clr-tab-content
                        .login-group
                            input.username([(ngModel)]='loginUser.username', type='text', placeholder='Username')
                            input.password([(ngModel)]='loginUser.password', type='password', placeholder='Password')

                            button.btn.btn-primary((click)='login(loginUser)', type='submit') NEXT
            clr-tab
                button(clrTabLink) Sign up
                ng-template([(clrIfActive)]='registerActive')
                    clr-tab-content
                        .login-group
                            input.username([(ngModel)]='registerUser.username', type='text', placeholder='Username')
                            input.username([(ngModel)]='registerUser.email', type='text', placeholder='E-Mail')
                            input.password([(ngModel)]='registerUser.password1', type='password', placeholder='Password')

                            button.btn.btn-primary((click)='register(registerUser)', type='submit') NEXT
