clr-main-container
    app-header([user]='user', *ngIf='!busy')

    div(class='content-container', *ngIf='!busy')
        main(class='content-area')
            router-outlet

    span.spinner(*ngIf='busy')